*{
    margin: 0;
}
.section1{
    width: 100%;
    height: 600px;
    background-color: #FF4029;
    color: white;
    position: relative;
}
.top{
    display: flex;
    justify-content: space-between;
    padding: 30px 120px;
    align-items: center;
}
.links {
    display: flex;
    gap: 20px;
    margin-left: 280px;   
}
.links a{
    text-decoration: none;
    color: white;
}
.icon {
    display: flex;

}
.text{
        padding: 30px 120px;
        display: flex;
        margin-top: 50px;
}
.left
{
    display: flex;
    flex-direction: column;
    width: 40%;
}
.left h1{
    font-size: 40px;
    margin-bottom: 40px;

}
.left button{
    width: 200px;
    padding: 10px;
    margin-top: 30px;
    background: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 35px;
    box-shadow: 3px 3px black ;
}
.right img{
    width: 80%;
    margin-left: 60px;
    margin-top: -60px;
}
.btn{
    width: 150px;
    padding: 10px;
    border-radius: 40px;
    color: white;
    background-color: #FFAF18;
    border: none;
    margin-left: 45%;
    position: absolute;
    top: 580px;
    z-index: 10;
}

.section2{
    width: 90%;
    height: 150px;
    display: flex;
    gap: 30px;
    margin-left: 120px;
    margin-top: 30px;
}
.box{
    width: 140px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;

}
.section3{
    width: 100%;
    height: 600px;
    background-color: #f4e4d6;

}
.cart{
    width: 300px;
    height: 150px;
    display: flex;
    background-color: white;
    border-radius: 20px;
    
}
.cart1{
    width: 300px;
    height: 150px;
    display: flex;
    background-color: #FF4029;
    border-radius: 20px;
    color: white;
    
}
.row1{
    margin-left: 120px;
   padding-top: 40px;
   display: flex;
   gap: 30px;
}
.left1{
    display: flex;
    flex-direction: column;
    padding: 10px;
    row-gap: 10px;
}
.left1 p{
    font-size: 12px;
    color: grey;
}
.left1 span{
    background-color: #FF4029;
    color: white;
    padding: 3px 5px;
    border-radius: 20px;
    text-align: center;

}
.left2 span{
    background-color: orange;
    color: black;
    padding: 3px 5px;
    border-radius: 20px;
    text-align: center;

}

.row2{
    margin-left: 120px;
   padding-top: 40px;
   display: flex;
   gap: 30px;
}
.cartt{
    width: 430px;
    height: 200px;
    display: flex;
    background-color: white;
    border-radius: 20px;
    margin-right: 70px;
    
}
.span{
    padding: 10px !important;
    font-size: 30px;
   rotate: 20px;
}


.section4{
    width: 100%;
    height: 300px;
    background-color: #FFB737;
    color: white;
    position: relative;
}
.img1{
    position: absolute;
    z-index: 3;
    top: -100px;
    left: 130px;
}
.img2{
    position: absolute;
     top: -50px;
     height: 400px;
     left: 325px;

}
.section4 h1{
  margin-left: 600px;
  padding-top: 50px;
}
.img3{
    margin-left: 600px;
    margin-top: 30px;
}
