*{
    margin: 0;
}
.section1{
    width: 100%;
    height: 600px;
    background-color: #FF4029;
    color: white;
    position: relative;
}
.top{
    display: flex;
    justify-content: space-between;
    padding: 30px 120px;
    align-items: center;
}
.links {
    display: flex;
    gap: 20px;
    margin-left: 280px;   
}
.links a{
    text-decoration: none;
    color: white;
}
.icon {
    display: flex;

}
.text{
        padding: 30px 120px;
        display: flex;
        margin-top: 50px;
}
.left
{
    display: flex;
    flex-direction: column;
    width: 40%;
}
.left h1{
    font-size: 40px;
    margin-bottom: 40px;

}
.left button{
    width: 200px;
    padding: 10px;
    margin-top: 30px;
    background: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 35px;
    box-shadow: 3px 3px black ;
}
.right img{
    width: 80%;
    margin-left: 60px;
    margin-top: -60px;
}
.btn{
    width: 150px;
    padding: 10px;
    border-radius: 40px;
    color: white;
    background-color: #FFAF18;
    border: none;
    margin-left: 45%;
    position: absolute;
    top: 540px;
    z-index: 10;
}